/*

	zenlike1.0 by nodethirtythree design
	http://www.nodethirtythree.com

*/

*
{
padding: 0em;
margin: 0em;
}

body
{
background: #000000 url('{TEMPLATE_PATH}img/bg1.jpg');
padding: 35px 0px 35px 0px;
}

body,input
{
font-size: 10pt;
font-family: "georgia", "times new roman", serif;
color: #333333;
}

p
{
line-height: 1.5em;
margin-bottom: 1.0em;
text-align: justify;
}

a
{
color: #B96D00;
text-decoration: underline;
}

a:hover
{
text-decoration: none;
}


h3 span
{
font-weight: normal;
}

h3,h4
{
display: inline;
font-weight: bold;
background-repeat: no-repeat;
background-position: right;
}

h3
{
font-size: 1.7em;
padding-right: 34px;
background-image: url('{TEMPLATE_PATH}img/db1.gif');
}

h4
{
font-size: 1.2em;
padding-right: 28px;
background-image: url('{TEMPLATE_PATH}img/db2.gif');
}

.contentarea
{
padding-top: 1.3em;
}

img
{
border: solid 1px #6F5230;
}

img.left
{
position: relative;
float: left;
margin: 0em 1.8em 1.4em 0em;
}

img.right
{
position: relative;
float: right;
margin: 0em 0em 1.8em 1.8em;
}

.divider1
{
position: relative;
background: #fff url('{TEMPLATE_PATH}img/border2.gif') repeat-x;
height: 14px;
margin: 2.0em 0em 1.5em 0em;
clear: both;
}

.divider2
{
position: relative;
height: 1px;
border-bottom: solid 1px #eaeaea;
margin: 2.0em 0em 2.0em 0em;
}

.post .details
{
position: relative;
top: -1.5em;
font-size: 0.8em;
color: #787878;
}

.post ul.controls
{
clear: both;
}

.post ul.controls li
{
display: inline;
font-size: 0.8em;
}

.post ul.controls li a
{
background-repeat: no-repeat;
background-position: left;
padding: 0em 1.0em 0em 20px;
}

.post ul.controls li a.printerfriendly
{
background-image: url('{TEMPLATE_PATH}img/icon-printerfriendly.gif');
}

.post ul.controls li a.comments
{
background-image: url('{TEMPLATE_PATH}img/icon-comments.gif');
}

.post ul.controls li a.more
{
background-image: url('{TEMPLATE_PATH}img/icon-more.gif');
}

.box
{
position: relative;
background: #FDFCF6 url('{TEMPLATE_PATH}img/boxbg.gif') repeat-x;
left: -1.5em;
top: -1.5em;
padding: 1.5em;
border-bottom: solid 1px #E1D2BD;
margin-bottom: 1.0em;
}

ul.linklist
{
list-style: none;
}

ul.linklist li
{
line-height: 2.0em;
}

#upbg
{
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 275px;
background: #fff url('{TEMPLATE_PATH}img/bg2.jpg') repeat-x;
z-index: 1;
}

#outer
{
z-index: 2;
position: relative;
/*
	The width value below controls the overall width of the design. By default it's set to 82%
	(so it'll take up 82% of the browser window's width). You can set it to a different percentage
	value (70%, 90%, etc.) or even a pixel value (760px, 800px, etc.) to enforce a fixed width.
*/
width: 82%;
border: solid 7px #fff;
background-color: #fff;
margin: 0 auto;
}

#header
{
position: relative;
width: 100%;
height: 9.0em;
background: #2B2B2B url('{TEMPLATE_PATH}img/topbg.gif') repeat-x;
margin-bottom: 2px;
}

#headercontent
{
position: absolute;
bottom: 0em;
padding: 0em 2.0em 1.3em 2.0em;
}

#headercontent h1
{
font-weight: normal;
color: #fff;
font-size: 2.5em;
}

#headercontent h1 sup
{
color: #777;
}

#headercontent h2
{
font-size: 1.0em;
font-weight: normal;
color: #aaa;
}

#search
{
position: absolute;
top: 5.5em;
right: 2.0em;
padding-right: 0.0em;
}

#search input.text
{
margin-right: 0.5em;
vertical-align: middle;
border-top: solid 1px #000000;
border-right: 0px;
border-bottom: solid 1px #777777;
border-left: 0px;
padding: 0.15em;
width: 10.0em;
}

#search input.submit
{
background: #939B00 url('{TEMPLATE_PATH}img/buttonbg.gif') repeat-x;
border: solid 1px #5F6800;
font-weight: bold;
padding: 0.25em;
font-size: 0.8em;
color: #F2F3DE;
vertical-align: middle;
}

#headerpic
{
position: relative;
height: 109px;
background: #fff url('{TEMPLATE_PATH}img/hdrpic.jpg') no-repeat top left;
margin-bottom: 2px;
}

#menu
{
position: relative;
background: #7F8400 url('{TEMPLATE_PATH}img/menubg.gif') repeat-x top left;
height: 3.5em;
padding: 0em 1.0em 0em 1.0em;
margin-bottom: 2px;
}

#menu ul
{
position: absolute;
top: 1.1em;
}

#menu ul li
{
position: relative;
display: inline;
}

#menu ul li a
{
padding: 0.5em 1.0em 0.9em 1.0em;
color: #fff;
text-decoration: none;
}

#menu ul li a:hover
{
text-decoration: underline;
}

#menu ul li a.active
{
background: #7F8400 url('{TEMPLATE_PATH}img/menuactive.gif') repeat-x top left;
}

#menubottom
{
background: #fff url('{TEMPLATE_PATH}img/border1.gif') repeat-x;
height: 14px;
margin-bottom: 1.5em;
}

#content
{
padding: 0em 2.0em 0em 2.0em;
}

#primarycontainer
{
float: left;
margin-right: -18.0em;
width: 100%;
}

#primarycontent
{
margin: 1.5em 22.0em 0em 0em;
}

#secondarycontent
{
margin-top: 1.5em;
float: right;
width: 18.0em;
}

#footer
{
position: relative;
height: 2.0em;
clear: both;
padding-top: 5.0em;
background: #fff url('{TEMPLATE_PATH}img/border2.gif') repeat-x 0em 2.5em;
font-size: 0.8em;
}

#footer .left
{
position: absolute;
left: 2.0em;
bottom: 1.2em;
}

#footer .right
{
position: absolute;
right: 2.0em;
bottom: 1.2em;
}


/* --- Additions for s9y port --- */
#headercontent h1 a.homelink1
{
font-weight: normal;
color: #fff;
text-decoration: none;
}

#headercontent h2 a.homelink2
{
font-weight: normal;
color: #aaa;
text-decoration: none;
}

input#serendipityQuickSearchTermField {
    background: #fff url('{TEMPLATE_PATH}img/quicksearch.png') no-repeat 97% 50%;
    border: 1px solid #7f8400!important;
    width: 90%;
}

.container_serendipity_quicksearch_plugin{
    overflow: visible!important;
}

.serendipity_entryFooter {
    margin-top: 1em;
    font-size: 0.8em;
}

.serendipity_freeTag {
    text-align: left;
}

.post h4 a:link,
.post h4 a:active,
.post h4 a:visited {
    color: #333;
    text-decoration: none;
}

.post h4 a:hover {
    color: #b96d00;
    text-decoration: underline;
}

pre {
    font-family: Courier, monospace;
    font-size: 80%;
    line-height: 1em;
    white-space: pre;
    margin: 1em 0;
}

blockquote {
    border-left: 6px solid #7f8400;
    padding: 0 0 0 1em;
}

.freetag_cloud {
    padding-bottom: 1.5em;
}

.serendipity_freetag_taglist_related {
    font-weight: bold;
    font-size: 1.2em;
}

.serendipity_entrypaging,
.serendipity_pageFooter {
    font-size: 90%;
    margin: 1em 0;
}

.post ul,
.post ol {
    list-style-position: inside;
    margin: 1em 0;
}

ul.controls {
    list-style-position: outside;
}

.serendipity_commentsTitle {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.serendipity_comment {
    margin: 1em 0;
}

.serendipity_comment_source {
    font-size: 90%;
}

.comment_oddbox .serendipity_comment_source {
    border: 1px solid #7f8400;
    padding: 0.5em;
}

.comment_evenbox .serendipity_comment_source {
    border: 1px solid #2b2b2b;
    padding: 0.5em;
}

.serendipity_commentBody {
    margin-bottom: 0.5em;
}

.serendipity_search_results {
    margin: 0.5em 0 1em;
}

.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    border: 1px solid #ddd;
    background-color: #f7f4dd;
    padding: 0;
    text-align: center;
}

.serendipity_imageComment_center {
    margin: auto;
}

.serendipity_imageComment_left {
    float: left;
    margin: 0 10px 5px 0;
}

.serendipity_imageComment_right {
    float: right;
    margin: 0 0 5px 10px;
}

.serendipity_imageComment_img,
.serendipity_imageComment_img img {
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
}

.serendipity_imageComment_txt {
    border-top: 1px solid #ddd;
    margin: 0;
    padding: 1%;
    clear: both;
    font-size: 90%;
    text-align: center;
}


/* Sponsored links */
ul#sponsorlinks {
    list-style: none;
    display: inline;
    margin-left: 0;
    padding-left: 0;
}

ul#sponsorlinks li {
    display: inline;
    padding-right: 2em;
}

p#sponsored {
    font-size: 90%;
    margin: 0;
    padding: 0.5em 0;
}