h4,h3,ul {
    margin: 0;
}

.serendipitySideBarContent input {
    width: 90%;
	margin-left: 3px;
}
.serendipitySideBarContent input.textfield {
}

pre {
	font-size: 11px;
}

/* Header > Logo */

#logo {
	float: left;
	width: 240px;
	height: 50px;
}

#logo h1 {
	float: left;
	margin: 0;
	padding: 50px 0 0 0;
	font-size: 2.6em;
}

#logo h2 {
	float: left;
	margin-top: -5px;
	font-size: 1em;
}

#logo a {
	text-decoration: none;
	color: #000000;
}

/* Header > Menu */

#menu {
	float: right;
}

#menu ul {
	margin: 0;
	padding-top: 79px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	width: 120px;
	height: 30px;
	margin-left: 2px;
	padding-top: 10px;
	background: url({TEMPLATE_PATH}img/img03.gif) no-repeat;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	color: #000000;
}

#menu a:hover {
	background-image: url({TEMPLATE_PATH}img/img04.gif);
}

#menu .active a {
	background-image: url({TEMPLATE_PATH}img/img05.gif);
}


#mainborder {
	 
}
#mainpane {
        
    width: 960px;
    	margin: 0 auto;
    	padding-top: 20px;
    	padding-right:0;
    	background: url({TEMPLATE_PATH}img/img02.jpg) no-repeat;
	xborder-top: 1px solid red;
}

#content {
    
    
    float: left;
    	width: 500px;
	padding-left: 1px;
	padding-top:10px;
	
}



#serendipityRightSideBar {
	float: right;
	width: 180px;
	padding-right: 10px;
	padding-top:10px;
	margin-top:15;
	  border: 0px solid green
	
	
}

#serendipityRightSideBar .boxed .title h3 {
	
	background: url({TEMPLATE_PATH}img/img10.gif) no-repeat right top;
}

#serendipityLeftSideBar  .boxed .title h3 {
	background: url({TEMPLATE_PATH}img/img08.gif) no-repeat;
}


#serendipityLeftSideBar {
    width: 210px;
    padding: 10px;
    vertical-align: top;
}

body {
	margin: 20px 0;
		background: #FFFFFF;
		font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #666666;
}

input, textarea {
    font-size: x-small;
    font-family: verdana, arial, helvetica, sans-serif;
}

th, td {
    font-size: x-small;
}
blockquote {
	margin-left: 2em;
	margin-right: 2em;
	font-style: italic;
}
p, td, th, div, span {
    font-family: verdana, arial, helvetica, sans-serif;
}

p, blockquote, ul, ol {
	margin-bottom: 1.5em;
	line-height: 1.65em;
	text-align: justify;
}

h1, h2, h3 {
	color: #333333;
}

h2 {
}

h3 {
	font-size: 1em;
}

ul {
	margin-left: 3em;
}

ul li {
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 5px 20px 0 0;
}

img.right {
	float: right;
	margin: 5px 0 0 20px;
}
ol {
	margin-left: 3em;
}

ol li {
}

a {
	text-decoration: underline;
	color: #3E9722;
}

a:hover {
	text-decoration: none;
	color: #E58C24;
}
#mainpane li  
{   
    list-style: none;
    padding-left: 10px;
    background: url({TEMPLATE_PATH}img/bullet_rounded.gif) no-repeat 0 6px;
    margin-left: -11px;
}
#header {
     
}

#serendipity_banner {
   width: 920px;
       	height: 120px;
       	margin: 0 auto;
       	padding: 20px 20px 0 20px;
	background: #CAE646 url({TEMPLATE_PATH}img/img01.jpg) no-repeat;
}


a.homelink1,
a.homelink1:hover,
a.homelink1:link,
a.homelink1:visited,
#serendipity_banner h1 {
    color: #fff;
    font-size: xx-large;
    font-weight: normal;
    padding-top: 5px;
    margin: 0px;
    text-decoration: none;
}

a.homelink2,
a.homelink2:hover,
a.homelink2:link,
a.homelink2:visited,
#serendipity_banner h2 {
    color: #fff;
    font-size: small;
    font-weight: normal;
    margin: 0px;
    text-decoration: none;
}

.serendipity_title {
    color: #7090b8;
    font-size: small;
    text-align: left;
    font-weight: bold;
    
    .
}

.serendipity_title a:link {
    color: #7090b8;
    text-decoration: none;
}

.serendipity_title a:visited {
    color: #7090b8;
    text-decoration: none;
}

.serendipity_title a:hover {
    color: #7090b8;
    text-decoration: none;
}

.serendipity_entry {
    padding: 15px 15px 5px 0px;
	color: #444;
    font-size: 11px;
}

.serendipity_entry_body_folded,
.serendipity_entry_body_unfolded,
.serendipity_entry_extended {
    /* Inner blocks of .serendipity_entry, can be used for further customization */
}

div.serendipity_Entry_Date {
    padding-left: 15px;
    width: auto;
   
}

.serendipity_date {
    color: #666666;
    color:#ffffff;
    xfont-family: 'Trebuchet MS', sans-serif;
    xfont-size: small;
    text-align: left;
    xfont-weight: bold;
    margin-bottom: 10px;
    padding:10px;
	xpadding-bottom: 2px;
	background-position: bottom;
	border-bottom: 1px solid #808080;
	 xborder: 1px solid red; 
	 height: 15px;
	 background: #6A94EB;
	 xxurl({TEMPLATE_PATH}img/img08.gif) no-repeat;
	 width:450px;
	 text-transform: uppercase;
	xfont-size: 1em;
}

.serendipity_commentsTitle {
    display: block;
    width: 100%;
    color: #666666;
    font-size: small;
    font-weight: bold;
	margin-bottom: 5px;
}


/* Footer */

#footer {
	clear: both;
	width: 960px;
	height: 80px;
	margin: 0 auto;
	padding: 20px 0;
	background: url({TEMPLATE_PATH}img/img02.jpg) no-repeat;
}

#footer p {
	margin: 0;
	text-align: center;
	line-height: normal;
	font-size: x-small;
}

#footer a {
	text-decoration: underline;
	color: #666666;
}

#footer a:hover {
	text-decoration: none;
}

/* Footer > Legal */

img.serendipity_entryIcon {
    float: right;
    border: 0px;
    margin: 5px;
}

td.serendipity_commentsValue input,
td.serendipity_commentsValue select,
td.serendipity_commentsValue textarea {
    width: 95%;
    border: 1px solid #e0e0e0;
    padding: 2px;
}


td.serendipity_commentsLabel {
    font-size: x-small;
    font-weight: bold;
    vertical-align: top;
}

.serendipity_commentForm {
    font-size:x-small;
    color: #666666;
    margin-bottom: 13px;
    margin-right: 10px;
    margin-left: 10px;
}
.serendipity_comment {
    font-size: x-small;
    margin-right: 10px;
    margin-left: 10px;
    color: #666666;
    padding: 3px;
    border-right: 1px dotted #BBB;
    border-left: 1px dotted #BBB;
    margin-bottom: 10px;
    overflow: auto;
}

.serendipity_comment_source {
    margin-top: 5px;
    padding-left: 5px;
    margin-bottom: 5px;
}

td.serendipity_admin {
    padding: 10px;
}

a, a:link, a:visited, a:active {
	color: 3E9722;
	text-decoration: none;
}


a:hover {
	color: #E58C24;
	text-decoration: solid;
	}

table.serendipity_calendar td {
    font-size: x-small;
    padding: 3px;
    text-align: center;
}
table.serendipity_calendar a {
    font-weight: bold;
    text-decoration: underline;
}

table.serendipity_calendar a:hover {
    text-decoration: none;
}

td.serendipity_weekDayName {
    font-size: x-small;
    font-weight:bold;
}
td.serendipity_calendarHeader a:link,
td.serendipity_calendarHeader a:visited,
td.serendipity_calendarHeader a:hover {
    border: 0;
    text-decoration: none;
}
div.serendipityPlug, div.serendipityPlug a {
    font-size: 11px;
    text-decoration: none;
    border: 0px;
    text-align: center;
}

/* Container for each item on the side bar */
.serendipitySideBarContent {
	#background-color: #f0f0e5;
	-moz-border-radius: 0px 0px 9px 9px;
	xborder: 1px solid red; 
	padding-right: 0px;
	margin-right: 0px;
	padding-left: 5px;
	background: url({TEMPLATE_PATH}img/img07.gif) repeat-x;
	
}
div.serendipitySideBarItem {
    color: #666666;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: x-small;
    text-align: left;
    margin-bottom: 15px;
    border: 0px solid green; 
    line-height: normal;
    padding: 3px;
	margin-right: 0px;
	margin-bottom:10px;
	margin-top: 0px;
	padding:  0px;
		border-top: 1px solid #FFFFFF;
	xbackground: url({TEMPLATE_PATH}img/img07.gif) repeat-x;
}

/* title of an individual item */
.serendipitySideBarTitle {
	xxxbackground-color: #80a5c7;
	-moz-border-radius: 9px 9px 0px 0px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: x-small;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding: 13px;
	margin-bottom: 5px;
	margin-top: -4px;
	border: 1px solid white;
	background: #6A94EB url({TEMPLATE_PATH}img/img08.gif) no-repeat;
}

.serendipitySideBarTitle h3 {
border: 1px solid orange; 
}


.serendipityImageButton {
    cursor: pointer;
}

td.serendipitySideBar {
    font-size: x-small;
    width: 200px;
    padding: 10px;
}

div.serendipity_admin_title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 12px;
}

div.serendipity_admin_list_title {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 8px;
}

td.serendipity_admin_list_item {
    padding: 15px;
    border: dashed 1px #000000;
}

.serendipity_entry p {
    margin: 0px;
    padding-bottom: 10px;
}

/** Embedded images with the s9y image manager **/
.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    border: 1px solid black;
    background-color: #EFEFEF;
    margin: 3px;
}

.serendipity_imageComment_center {
    margin: 0px;
}

.serendipity_imageComment_left {
    float: left;
}

.serendipity_imageComment_right {
    float: right;
}

.serendipity_imageComment_img,
.serendipity_imageComment_img img {
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-align: center;
}

.serendipity_imageComment_txt {
    margin: 0px;
    padding: 3px;
    clear: both;
    font-size: xx-small;
    text-align: center;
}

.serendipity_admin_list_item_even {
    background-color: #ffffff;
}

.serendipity_admin_list_item_uneven {
    background-color: #E0E0E0;
}
.serendipity_admin_filters {
    border: 1px dashed;
    font-size: 10px;
    margin-bottom: 10px;
    padding: 2px;
}

.serendipity_admin_filters_headline {
    border-bottom: 1px solid;
}

.serendipity_admin_sortorder {
    font-size: 10px;
    text-align: center;
}

.serendipity_admin_sortorder input,
.serendipity_admin_sortorder select,
.serendipity_admin_filters input,
.serendipity_admin_filters select {
    font-size: 10px;
}

.serendipity_center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.serendipity_entry_author_self {
}

.serendipity_comment_author_self {
}

select, input, textarea {
    border: 1px solid #bababa;
    background-color: #f8f8f4;
    color: #666;
}   
select:focus, input:focus, textarea:focus {
    border: 1px solid #d0d0d0;
    color: #000;
    background-color: #fff;
}
.captcha {
	border: 1px solid #d0d0d0;
}
blockquote {
    background-color: #f8f8f2;
    border-left: 3px solid #c3c3b5;
	border-right: 1px solid #c3c3b5;
	border-bottom: 1px solid #c3c3b5;
	border-top: 1px solid #c3c3b5;
	padding: 3px;
    -moz-border-radius: 0px 8px 8px 0px;
}




