/* General Styles */

p {

  line-height: 20px;

  padding: 8px 0 8px 5px;

  margin: 5px 0 5px 0;

}

h1, h4.serendipity_title {

	clear: both;

	padding: 5px 0 0px 0px;

	margin: 0;  

	font-size: 1.8em;

	font-weight: normal;

	letter-spacing: -1.5px;

}

h2 {

	clear: both;

	padding: 0 0 0 5px;

	margin: 0 0 -10px 0;  

	font-size: 1.0em;

	font-weight: normal;

	text-transform: uppercase;

}

acronym, abbr, span.caps {

	border-bottom: 1px solid #BBB;

	cursor: help;

}

code {

	font-size: 1.3em;

}

cite {

	font-size: 0.9em;

	font-style: normal;

}

ul, ol {

	list-style-position:inherit;

}



a img, .emoticon {

	border: none;

}

.serendipity_msg_important {

	color: #b22222;

	font-weight: bold;

	font-size: small;

}

.serendipity_msg_notice {

	color: green;

	font-weight: bold;

	font-size: small;

}

.serendipity_center {

	margin-left: auto;

	margin-right: auto;

	text-align: center;

}

.serendipity_left {

	margin-left: auto;

	margin-right: auto;

	text-align: left;

}

.serendipity_right {

	margin-left: auto;

	margin-right: auto;

	text-align: right;

}



/* End General Styles */





/* Begin Structure */

body {

	margin-right:auto;

	margin-left:auto !important; /* stupid ie... */

	margin-left:1px;

	margin-top:0px;

	margin-bottom:0px;
	
	height:100%;

	padding:0px;

	text-align: center;

	font-family: verdana, arial, sans-serif;

	font-size: 0.67em;

	color: #ffffff;

}



#wrapper {

	width: 608px;

	height:100%;

	margin: 0px auto;

	overflow:visible;

}



#wrap {

	width: 588px;

	margin: 0px auto;

	text-align: left;

}



#serendipity_Entry_Date {clear:both;}



#content {

	float: left;

	width: 375px;

}



#footer {

	font-size:xx-small;

	clear:both;

	height: 60px;

	text-align:left;

	color:#ffffff;

	padding: 60px 3px 0px 35px;

	margin: 0px 0 0px 0;  

}



/* End Structure */





/* Begin Header Styles */



#serendipity_banner {

	width:588px;

	float:left;

}



#serendipity_banner .title {

	padding: 10px 0 0 20px;

	font-size: 2.5em;

	line-height: 0.9em;

	letter-spacing: -1.5px;

	color: #EEE;

}



#serendipity_banner .subTitle {

	padding: 2px 0 0 22px;

	color: #EEE;

}



#serendipity_banner .title a {

	text-decoration: none;

	color: #EEE;

}



#serendipity_banner .title a:hover {

	color: #BBB;

	background-color: transparent;

}



/* style for quicksearch form in header */

#searchbar {

	margin-right:12px;

	float:right;

	width:175px;

	height:40px;

	}



#searchformheader {

	margin:0 0px 0 10px;

	padding-right:10px;

	background-color:inherit;

	border-right:none;

	float:left;

	text-align:left;

	 }



#searchformheader input {

	margin-top:8px;

	border: 0px solid #aaa;

	height:17px;

	width:122px;

	font-size: 1.1em;

	vertical-align:left;

	color: #999;

	}

	

#searchsubmit {

	width:23px;

	height:23px;

	float:right;

	margin: 6px 10px 0px 0px;

	background: url({TEMPLATE_PATH}img/search-btn.png) no-repeat top right;

	}



#menu {

	padding: 10px 5px 2px 20px;

	text-align: left;

	width:405px;

	height:40px;

	font-size:9px;

	float:left;

}



#menu a {

	padding: 5px 5px 5px 5px;

	text-decoration: none;

	text-transform: uppercase;

}



/* End Header Styles */





/* Begin Footer Styles */

#footer img.right {

	padding: 5px 2px 0 2px;

	border: 0px;

}

/* End Footer Styles */





/* Begin Entry Styles */

#content h1, #content h4.serendipity_title {

	color:#ffffff;

}



.serendipity_entry_body, .serendipity_entry_body_folded, .serendipity_entry_body_unfolded, .serendipity_entry_extended {

	line-height:120%;

	text-align:justify;

}

.serendipity_entry_extended {

margin-top:15px;

}

.post-date {

	line-height:normal;

}



.serendipity_title a:link, .serendipity_title a:visited, .serendipity_title a:active {

	text-decoration:none;

	color:#C4C4C4;

}



.serendipity_title a:hover {

	color:#ffffff;

}

#content input, #content textarea, #content select {

}



div.serendipity_entryFooter {
	height:6px;
}

div.serendipity_entryFooterMain {
	color: #ffffff;
	text-align: left;
	line-height: 120%;
	padding: 0px 5px 0px 5px;
	font-size: xx-small;
	width:365px;
}

div.serendipity_entryFooterBottom {
	height:6px;
	color: #ffffff;
	font-size: xx-small;
}

div.serendipity_entryFooter a {color:#ffffff; text-decoration:none;}



img.serendipity_entryIcon {

	float: left;

	margin:3px 10px 10px 0;

	border: 1px solid #efefef;

}

.post-footer 

{



}

/* End Entry Styles */





/* Begin Comment Styles */

.serendipity_commentsTitle {

	font: 1.1em verdana, helvetica, sans-serif;

	margin: 3em 0 1em 0;

	color: #666;

	text-transform:uppercase;

}

.serendipity_comment_source {

	font-size:24px;

	padding:2px;

}



.serendipity_comment_source a {

	font-weight:bolder;

	text-decoration:none;

}



.serendipity_commentBody {

line-height:20px;

padding:4px;

font-size:11px;

text-align:justify;

}

.serendipity_commentFooter {

	margin: 0px 0px 15px 0px;

	padding: 2px;

	height: 16px;

 	font-size:x-small;

	text-align:right;

}

.serendipity_commentForm {

	font-size:x-small;

	color: #ffffff;

	margin-bottom: 13px;

	margin-right: 10px;

	margin-left: 10px;

	background-color: #FFFFFF;

}

td.serendipity_commentsLabel {

	font-size: x-small;

	font-weight: bold;

	vertical-align: top;

}

td.serendipity_commentsValue input, td.serendipity_commentsValue select, td.serendipity_commentsValue textarea {

	border: 1px solid #333;

	padding: 2px;

}

td.serendipity_commentsValue textarea {

	width:100%;

}



.serendipity_comment, .serendipity_comments {

	font-size: x-small;

	padding-bottom: 0px;

	text-align:left;

}

/* End Comment Styles */





/* Begin Sidebar Styles */

div.serendipitySideBarItem {

	padding-bottom: 8px;

}

.serendipitySideBarContent, .serendipitySideBarContent form {

	padding-top:10px;

	padding-bottom: 10px;

	padding-left: 9px;

	padding-right: 9px;

	font-size: 11px;

	line-height:1.4;

	margin:0;

	background: #464646 url({TEMPLATE_PATH}img/block_center.gif) repeat-y top center;

}



.serendipitySideBarContent img {

	border:none;

	align:bottom;

}



.serendipitySideBarTitle {

	clear: both;

	padding: 5px 0 0px 8px;

	margin: 0;  

	font-size: 1.5em;

	font-weight: normal;

	letter-spacing: -1.5px;

	background: #464646 url({TEMPLATE_PATH}img/block_top.gif) no-repeat top center;

}



.serendipitySideBarFooter {

	margin-bottom: 10px; 

	height: 28px;

	background: #464646 url({TEMPLATE_PATH}img/block_bottom.gif) no-repeat bottom center;

}



.serendipitySideBarContent a {

	color:#ffffff;

	text-decoration:none;

}



.serendipitySideBarContent a img {

	border: 0px;

}

.serendipitySideBarContent input, .serendipitySideBarContent select, .serendipitySideBarContent textarea {

	width: 90%;

	margin:3px;

}

.serendipityImageButton {

	cursor: pointer;

}

/* End Sidebar Styles */





/* Begin Calendar Styles */

table.serendipity_calendar td {

	text-align: center;

	line-height:20px;

	padding:1px;

}

table.serendipity_calendar a {

	text-decoration:underline;

}

table.serendipity_calendar a:hover {

	text-decoration: none;

}

td.serendipity_weekDayName {

	text-align: center;

	font-weight: normal;

}

td.serendipity_calendarHeader a:link, td.serendipity_calendarHeader a:visited, td.serendipity_calendarHeader a:hover {

	font-size: x-small;

	text-align: left;

	font-weight: bold;

	letter-spacing: .25em;

	text-decoration: none;

}

/* End Calendar Styles */





/* Begin Image Manager Styles */

.serendipity_imageComment_center,

.serendipity_imageComment_left,

.serendipity_imageComment_right {

	margin: 3px;

	padding: 3px;

	text-align: center;

}



.serendipity_imageComment_center {

	margin: auto;

}



.serendipity_imageComment_left {

	float: left;

}



.serendipity_imageComment_right {

	float: right;

}



.serendipity_imageComment_img,

.serendipity_imageComment_img img {

	margin: 0px;

	padding: 0px;

	text-align: center;



	background-color: #464646;

}



.serendipity_imageComment_txt {

	margin: 3px auto 0px auto;

	padding: 3px;

	clear: both;

	text-align: center;

	line-height:120%;

	color:#e5e5e5;



}



/* End Image Manager Styles */





/* Begin Plugin Styles */



.serendipitySideBarContent li {

	margin:0px;

	padding:3px;

	text-align:left;

}



.serendipitySideBarContent li a {

	text-decoration:none;

	font-weight:bolder;

	color:#FFFFFF;



}



.serendipitySideBarContent li:hover {

	text-decoration:none;

}



.serendipity_freeTag_xmlButton {

	padding-left:2px;

}

.serendipity_freetag_taglist {

	padding:15px;

	background-color:#F3F6ED;

	border:1px solid #ddd;

	margin: 15px 0 40px 0;

	font-size:0.7em;

}

.serendipity_freeTag {

	color: #590A0D;

	text-align: center;

	clear:both;

}

.serendipity_search_results {text-align:center; margin: 15px auto; }

.searchterm, .searchresults {font-weight:bold;}





/* End Plugin Styles */

