h2 {

	color: #a42d41;

}

blockquote {

	float: left;

	width:90%;

	margin: 5px 5px 20px 7px !important;

	margin: 5px 5px 10px 5px;

	padding:3px;

	background: #4c3a3b;

	border-left: 3px solid #a4151a;

	font-style:italic;

}

a {

	color: #cf8a8c;

}



a:hover {

  color: #ffffff;

}



#serendipity_banner {

	height: 53px;

	

}

#menu a {

	color: #ba8789;

}

#menu a:hover, #menu a.active {

	padding: 5px 5px 5px 5px;

	color:#590a0d;

}



#wrapper {

	background: url(img/transred/redtop.gif) no-repeat top left;

}



body {

	background: url(img/transred/bg.gif) center repeat-y;

	background-color: #7B7B7B;

}



.serendipity_comment_source {

	background-color:#4C3A3B;

	color:#6B5B5C;

}



.serendipity_comment_source a {

	color:#6B5B5C;

}



div.serendipity_entryFooter {
	background:#BE8789 url(img/transred/entryfootertop.gif) no-repeat top left;
	height:6px;
	width:auto;
}

div.serendipity_entryFooterMain {
	color: #590A0D;
	font-size: xx-small;
	background-color:#BE8789;
}

div.serendipity_entryFooterMain a {
	color: #ffffff;
	text-decoration:none;
}

div.serendipity_entryFooterBottom {
	background: url(img/transred/entryfooterbottom.gif) no-repeat top left;
	width:auto;
	height:6px;
}

.serendipity_imageComment_center,

.serendipity_imageComment_left,

.serendipity_imageComment_right {

	background: #4c3a3b;

}



.serendipity_commentBody {

background-color:#4C3A3B;

}



.serendipity_commentFooter {

	color:#8B7778;

	background-color:#4C3A3B;

}

.serendipitySideBarContent a:hover {

	color:#590a0d;

}

#footer {

	background: url(img/transred/footer.gif) no-repeat top left;

}

#footer a {color:#590A0D; text-decoration:none;}



#content b {

	font-size: 1.0em;

	color: #a42d41;

}

#content ul {

	list-style-image: url(img/li_bullet_dark.gif);

}

#sidebar {

	float: right;

	width: 175px;

}



.serendipity_freetag_taglist {

	padding:15px;

	background-color:#F3F6ED;

	border:1px solid #ddd;

	margin: 15px 0 40px 0;

	font-size:0.7em;

}