html {
    background-color: #0b0b0b;
    background-image: url(img/background-dark.jpg);
    color: #F1F1F1;
}

a {
    color: #C5FF40;
}

#identity a {
    color: #F1F1F1;
}

.photoEntryTitle, .photoEntryData {
    color: #FCFCFC;
    background-color: rgba(0,0,0,0.7);
}

img.featuredImage {
    background: transparent;
}

span.featuredImage {
    background-color: #993D3D;
    background: -moz-linear-gradient(left,  rgba(153,61,61,0.7) 0%, rgba(153,61,61,1) 45%, rgba(153,61,61,1) 50%, rgba(153,61,61,1) 55%, rgba(153,61,61,0.86) 76%, rgba(153,61,61,0.79) 87%, rgba(153,61,61,0.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(153,61,61,0.7)), color-stop(45%,rgba(153,61,61,1)), color-stop(50%,rgba(153,61,61,1)), color-stop(55%,rgba(153,61,61,1)), color-stop(76%,rgba(153,61,61,0.86)), color-stop(87%,rgba(153,61,61,0.79)), color-stop(100%,rgba(153,61,61,0.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(153,61,61,0.7) 0%,rgba(153,61,61,1) 45%,rgba(153,61,61,1) 50%,rgba(153,61,61,1) 55%,rgba(153,61,61,0.86) 76%,rgba(153,61,61,0.79) 87%,rgba(153,61,61,0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(left,  rgba(153,61,61,0.7) 0%,rgba(153,61,61,1) 45%,rgba(153,61,61,1) 50%,rgba(153,61,61,1) 55%,rgba(153,61,61,0.86) 76%,rgba(153,61,61,0.79) 87%,rgba(153,61,61,0.7) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(153,61,61,0.7) 0%,rgba(153,61,61,1) 45%,rgba(153,61,61,1) 50%,rgba(153,61,61,1) 55%,rgba(153,61,61,0.86) 76%,rgba(153,61,61,0.79) 87%,rgba(153,61,61,0.7) 100%); /* W3C */
}

.serendipity_entry:not(.singlepage) {
    background-color: rgba(0,0,0,0.7);
}

#sidebar_bottom {
    background-color: rgba(26,26,26,0.8);
    border-color: #CCCA14;
}

#searchsend {
    border-color: black;
}

input[type="submit"], button {
    background-color: white;
    color: black;
}

.serendipity_msg_important {
    background: #8B3535;
    border-color: #CCCA14;
    color: #F1F1F1;
}

.serendipity_msg_notice {
    background: #D0F381;
    border-color: #CCCA14;
    color: black;
}

.serendipity_imageComment_txt {
    color: #222;
}

.bx-wrapper {
    background-color: rgba(0,0,0,0.7);
}

.bx-wrapper .bx-pager.bx-default-pager a {
    border: 1px solid #666;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #666;
}

#primary-nav a {
  color: #F1F1F1;
}

#primary-nav ul li:hover {
  background-color: rgba(26,26,26,0.8);
  background: linear-gradient(to bottom, rgba(26,26,26,0.1) 0%,rgba(26,26,26,0.8) 100%)
}


