h1,h2,h3,h4,h5,h6 {
	padding: 0px;
	margin: 0px;
}

h1 {
	padding:25px 0px 10px 10%;
	color:black;
	font:bold 250% Verdana,Sans-Serif;
	letter-spacing:-2px;
}
h2 {
	color:white;
	font-weight:bold;
	font-family:Verdana,Sans-Serif;
	letter-spacing:-1px;
}
h3 {
	margin: 10px 0px 0px 0px;
	color:#777777;
	font-size:105%;
}
h4 {
	color:#aa0033;
}
h6 {
	color:black;
	font-size:140%;
}


.serendipitySideBarContent input {
    width: 150px;
}

#mainpane {
	margin: auto;
	width: 100%;
}

#content {
	padding: 30px 10px 10px 2%;
	margin: 10px;
}

#serendipityRightSideBar {
    width: 170px;
    border-left: 1px dashed #000000;
    padding: 10px;
    vertical-align: top;
}

#serendipityLeftSideBar {
    width: 250px;
	margin: 20px 0px 0px 1em;
    border-right: 1px dashed #000000;
	text-align: left;
    padding: 30px 0px 0px;
    vertical-align: top;
}

body {
	background: #B11312 url({TEMPLATE_PATH}img/death.gif) bottom left no-repeat fixed;
	font-family: "Trebuchet MS", Trebuchet, Verdana, Sans-Serif;
	color: #000000;
    margin-bottom: 30px;
}

input, textarea {
    font-size: 10pt;
	font-family: "Trebuchet MS", Trebuchet, Verdana, Sans-Serif;
}

p, td, th, div, span {
	font-family: "Trebuchet MS", Trebuchet, Verdana, Sans-Serif;
}

#serendipity_banner {
    margin: 0px;
	padding: 0px;
    width: 100%;
    height: 72px;
}

a.homelink1,
a.homelink1:hover,
a.homelink1:link,
a.homelink1:visited,
#serendipity_banner h1 {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	color: black;
	font: bold 180% Verdana,Sans-Serif;
	letter-spacing :-2px;
    text-decoration: none;
}

a.homelink2,
a.homelink2:hover,
a.homelink2:link,
a.homelink2:visited,
#serendipity_banner h2 {
	color: white;
	font-weight: bold;
	font-family: Verdana,Sans-Serif;
	letter-spacing: -1px;
    color: #FFFFFF;
    padding-left: 15px;
    margin: 0px;
    text-decoration: none;
}

.serendipity_title {
	font-family: Verdana, Sans-Serif;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 5px;
	padding-top: 5px;
	font-size: 120%;
}

.serendipity_title a:link,
.serendipity_title a:visited {
    color: #FFFFFF;
	text-decoration: none;
	border: 0;
	font-weight: bold;
	letter-spacing: -1px;
}

.serendipity_title a:hover {
   color: #000000;
}

.serendipity_entry {
	font-family:"Trebuchet MS", Trebuchet, Verdana, Sans-Serif;
	color: #333333;
	font-size: 100%;
	font-weight: normal;
	padding-right: 10px;
	width: 95%;
	margin: auto;
	margin-top: 10px;
	text-align: justify;
}

.serendipity_entry_body_folded,
.serendipity_entry_body_unfolded,
.serendipity_entry_extended {
    /* Inner blocks of .serendipity_entry, can be used for further customization */
}

.serendipity_entry_date {
    margin: auto;
}

.serendipity_date {
	font-family: "Trebuchet MS", Trebuchet, Verdana, Sans-Serif;
	font-size: 105%;
	color: #333333;
	margin: 20px 0 0;
	text-align: left;
	padding-top: 5px;
	padding-left: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: dashed;
	border-left-style: dashed;
}

.serendipity_commentsTitle {
    font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    margin-top: 10px;
    color: #333333;
    padding-left: 5px;
    border-bottom: 2px solid #36558C;
}

div.serendipity_entryFooter {
	font-family:"Trebuchet MS", Trebuchet, Verdana, Sans-Serif;
	font-size: 80%;
	color: silver;
	clear: both;
	margin: 0px;
	padding: 0px;
}

div.serendipity_entryFooter a {
	border: none;
	color: #FFFFFF;
	text-decoration: none;
}

div.serendipity_entryFooter a:hover {
	color: #000000;
	text-decoration: underline;
}

img.serendipity_entryIcon {
    float: right;
    border: 0px;
}

img.serendipity_entryIcon {
    float: right;
    border: 0px;
}

td.serendipity_commentsLabel {
    font-size: 12px;
    font-weight: bold;
    vertical-align: top;
}

td.serendipity_commentsValue input,
td.serendipity_commentsValue select,
td.serendipity_commentsValue textarea {
    font-size: 12px;
    padding: 2px;
    width: 400px;
}


.serendipity_commentForm {
    font-size: 13px;
    color: #404040;
    margin-bottom: 13px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #FFFFFF;
}
.serendipity_comment {
    font-size: 13px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    color: #404040;
    padding: 3px;
    background-color: #FFFFFF;
}

.serendipity_comment_source {
    margin-top: 5px;
    padding-left: 5px;
    margin-bottom: 5px;
    padding-bottom: 3px;
    border-bottom: 2px solid #36558C;
}

td.serendipity_admin {
    padding: 10px;
}

a:link,
a:active {
    color: #FFFFFF;
    text-decoration: none;
}
a:visited {
	color: silver;
    text-decoration: none;
}

a:hover {
    color: #000000;
}

table.serendipity_calendar td {
    font-size:11px;
    padding: 3px;
}
table.serendipity_calendar a {
    color: #FF0000;
    font-weight: bold;
    text-decoration:none;
}

table.serendipity_calendar a:hover {
    text-decoration: none;
}

td.serendipity_weekDayName {
    font-size:11px;
    font-weight:bold;
}
td.serendipity_calendarHeader a:link,
td.serendipity_calendarHeader a:visited,
td.serendipity_calendarHeader a:hover {
    border: 0;
    text-decoration: none;
}

div.serendipityPlug {
    padding-left: 10px;
}

div.serendipityPlug a {
    text-decoration: none;
    border: 0px;
}

/* Container for each item on the side bar */
div.serendipitySideBarItem {
    padding-bottom: 12px;
    margin-bottom: 12px;
    font-size: 12px;
    font-weight:normal;
    border-bottom: 1px dashed #000000;
}

/* title of an individual item */
.serendipitySideBarTitle {
    margin: 0;
    font-family:Verdana, Arial, Geneva, Helvetica, sans-serif;
    color: #000000;
    font-size: 12px;
    font-weight:bold;
    padding-left:2px;
    padding-bottom:2px;
}

.serendipityImageButton {
    cursor: pointer;
}

td.serendipitySideBar {
    font-size: 12px;
    width: 180px;
    padding: 10px;
    border-right: 1px dashed #4068ab;
}

div.serendipity_admin_title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 12px;
}

div.serendipity_admin_list_title {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 8px;
}

td.serendipity_admin_list_item {
    border: dashed 1px #000000;
}

.serendipity_entry p {
    margin: 0px;
    padding-bottom: 0px;
}

/** Embedded images with the s9y image manager **/
.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    border: 1px solid #DDDDDD;
    background-color: #EFEFEF;
    margin: 3px;
    padding: 3px;
    text-align: center;
}

.serendipity_imageComment_center {
    margin: auto;
}

.serendipity_imageComment_left {
    float: left;
}

.serendipity_imageComment_right {
    float: right;
}

.serendipity_imageComment_img,
.serendipity_imageComment_img img {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.serendipity_imageComment_txt {
    border-top: 1px solid #DDDDDD;
    margin: 0px;
    padding: 3px;
    clear: both;
    font-size: 8pt;
    text-align: center;
}

.serendipity_admin_list_item_even {
    background-color: #777777;
}

.serendipity_admin_list_item_uneven {
    background-color: #E0E0E0;
}
.serendipity_admin_filters {
    border: 1px dashed;
    background-color: #FFFFFF;
    font-size: 10px;
    margin-bottom: 10px;
    padding: 2px;
}

.serendipity_admin_filters_headline {
    border-bottom: 1px solid;
}

.serendipity_admin_sortorder {
    font-size: 10px;
    text-align: center;
}

.serendipity_admin_sortorder input,
.serendipity_admin_sortorder select,
.serendipity_admin_filters input,
.serendipity_admin_filters select {
    font-size: 10px;
}

.serendipity_comments {
}

.serendipity_center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.serendipity_msg_important {
    color: red;
}

.serendipity_msg_notice {
    color: white;
}

pre, code{color:white;}
