/* Page Elements */

h3,h4 {
	margin: 0;
	text-transform: uppercase;
	color: #fff;
}
abbr, acronym, .help {
	text-decoration:underline;
	border:none;
	cursor: help;
}
input, textarea {
	font-size: x-small;
}
td, th {
	font-size: x-small;
	padding:0;
}

/*Structure Elements*/
body {
	background-color:#242424;
	margin:0 auto 0 auto;
	color:#fff;
	padding:0;
	font-family: arial, helvetica, sans-serif;
	background: url("{TEMPLATE_PATH}/img/bg.jpg") repeat-y top; border: none;
}
#mainpane {
	line-height: 110%;
	text-align: left;
	padding: 0px;
	width: 800px;
	margin: 0 auto 0 auto;
	overflow:auto; 
}
#content {
	padding-top:0;
	margin-left:0;
	padding-left:0;
	width: 390px;
}
#serendipityLeftSideBar {
	width: 195px;
	padding: 0;
	margin-left:0;

}
#serendipityRightSideBar {
	width: 195px;
	padding: 0;
	vertical-align: top;
}
#serendipity_banner, #header {
	background: url({TEMPLATE_PATH}/img/head.jpg) no-repeat;
	font-family: sans-serif;
	color: #FFFFFF;
	text-align: left;
	width: 844px;
	height: 356px;
	margin: auto;
}
#footer {
	padding: 0;
	margin: 0 auto;
	width: 800px;
	height: 44px;
	clear: both;
    background: url("{TEMPLATE_PATH}/img/foot.jpg") no-repeat bottom; border: none;
}


a.homelink1,
a.homelink1:hover,
a.homelink1:link,
a.homelink1:visited,
#serendipity_banner h1, #header h1 {
	color: #FFF;
	font-size: 24px;
	font-weight: bold;
	padding-top: 275px;
	line-height:110%;
	margin: 0 15px 0 0;
	padding-left: 20px;
	text-decoration: none;
	text-align:left;
}

/* Main Column and Banner */
a.homelink2, a.homelink2:hover, a.homelink2:link, a.homelink2:visited, #serendipity_banner h2, #header h2 {
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	margin: 15px 0px 0px 20px;
	text-decoration: none;
	text-align:left;
}

h3.serendipity_title, h4.serendipity_title {
	color: #fff;
	line-height: 103%;
	font-size: 14px;
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 6px;     
	margin-bottom: 5px;   
	border-bottom: 1px solid #ececec;
}

.serendipity_title a:link, .serendipity_title a:visited, .serendipity_title a:hover {
	color: #fff;
	text-decoration: none;
}

.serendipity_entry {
	color: #fff;
	font-size: small;
	clear:both;
}
.posttime {
	font-size: x-small;
	line-height:120%;
}
.serendipity_entry_body_folded, .serendipity_entry_body_unfolded, .serendipity_entry_extended {
}

div.serendipity_Entry_Date {
	width: auto;
	padding-left: 2px;
}

.serendipity_date {
	color:#fff;
}

.serendipity_commentTitle {
	color: #fff;
	line-height: 103%;
	font-family: sans-serif;
	font-size: 14px;
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 5px;     
	margin-bottom: 0px;   
	border-bottom: 1px solid #ececec;
}

div.serendipity_entryFooter {
	color: #fff;
	font-size: xx-small;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;
	border: 1px dotted #D4D4D4;
	padding: 5px;
	line-height: normal;
	clear:both;
}

img.serendipity_entryIcon {
	float: left;
	margin:3px 10px 10px 0;
	border: 1px solid #fff;
}

td.serendipity_commentsLabel {
	font-size: x-small;
	font-weight: bold;
	vertical-align: top;
}

td.serendipity_commentsValue input, td.serendipity_commentsValue select, td.serendipity_commentsValue textarea {
	width: 300px;
	border: 1px solid #fff;
	padding: 2px;
}

.serendipity_commentForm {
	font-size:small;
	color: #ffffff;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	background-color: #FFFFFF;
}
.serendipity_comment {
	font-size: x-small;
	margin-right: 5px;
	margin-left: 5px;
	padding: 3px;
	padding-bottom: 0;
	border-top: 1px dashed #000;
	overflow: auto;
}

.serendipity_comment_source {
	margin-top: 5px;
	padding-left: 5px;
}

td.serendipity_admin {
	padding: 10px;
}

a {	color:#ccc;
	text-decoration: none;
}

a:hover {
	color:#c0c0c0;
	text-decoration: underline;}

table.serendipity_calendar td {
	text-align: center;
}
table.serendipity_calendar a {
	text-decoration:underline;
}

table.serendipity_calendar a:hover {
	text-decoration: none;
}

td.serendipity_weekDayName {
	text-align: center;
	font-weight: normal;
}
td.serendipity_calendarHeader a:link, td.serendipity_calendarHeader a:visited, td.serendipity_calendarHeader a:hover {
	color: #fff;
	font-size: x-small;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	padding: 3px;
	letter-spacing: .25em;
	text-decoration: none;
}

.serendipitySideBarContent input { width: 145px;}

.serendipitySideBarContent img { border:none;align:bottom;}
/* Container for each item on the side bar */
div.serendipitySideBarItem {
	color: #ccc;
	font-size: x-small;
	text-align: left;
	margin-bottom: 15px;
	line-height: normal;
	padding: 3px;
}

/* title of an individual item */
h4.serendipitySideBarTitle {

	color: #fff;
	line-height: 103%;
	font-family: sans-serif;
	font-size: 14px;
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 3px;     
	margin-bottom: 5px;   
	border-bottom: 1px solid #ececec;
}

.serendipityImageButton {
	cursor: pointer;
}

td.serendipitySideBar {
	font-size: x-small;

}

div.serendipity_admin_title {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 12px;
}

div.serendipity_admin_list_title {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 8px;
}

td.serendipity_admin_list_item {
	border: dashed 1px #000000;
}

.serendipity_entry p {
	margin: 0px;
	padding-bottom: 10px;
}
.serendipity_entry b {
	color: #ccc;
	font-weight: bold;
 
}
.serendipity_entry i {
	color:#ccc;
}

/** Embedded images with the s9y image manager **/
.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    border: 1px solid black;
    background-color: #fff;
    margin: 3px;
}

.serendipity_imageComment_center {
    margin: 0px;
}

.serendipity_imageComment_left {
    float: left;
}

.serendipity_imageComment_right {
    float: right;
}

.serendipity_imageComment_img,
.serendipity_imageComment_img img {
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-align: center;
}

.serendipity_imageComment_txt {
    margin: 0px;
    padding: 3px;
    clear: both;
    font-size: xx-small;
    text-align: center;
}
.serendipity_admin_list_item_even {
	background-color: #fefefe;
}

.serendipity_admin_list_item_uneven {
	background-color: #eee;
}

.serendipity_admin_filters {
	border: 1px dashed;
	font-size: 10px;
	margin-bottom: 10px;
	padding: 2px;
}

.serendipity_admin_filters_headline {
	border-bottom: 1px solid;
}

.serendipity_admin_sortorder {
	font-size: 10px;
	text-align: center;
}

.serendipity_admin_sortorder input, .serendipity_admin_sortorder select, .serendipity_admin_filters input, .serendipity_admin_filters select {
	font-size: 10px;
}

.serendipity_comments {
}

.serendipity_commentBody {
	border-left: 1px dashed #000;
	margin: 5px;
	padding: 5px;
}

.serendipity_center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.serendipity_msg_important {
	color: #ffbf00;
	font-weight: bold;
	font-size: small;
	text-align: center;
	border: 2px solid #ffbf00;
	padding: 12px;
}

.serendipity_msg_notice {
	color: green;
	font-weight: bold;
	font-size: small;
}

.serendipity_entry_author_self {
}

.serendipity_comment_author_self {
	border-right: 1px dashed #B22222;
}

#footer a {
	font-size: 9px;
	color:#fff;
	text-decoration:none;}

#footer a:hover {
	font-size: 9px;
	color:#ccc;	
	text-decoration:underline;}

#footer p {
	padding-top: 15px;
	margin: 25px;
	color: #fff;
	font-size: 9px;
	text-align: left;
}
.serendipity_entry blockquote {
	margin: 10px;
	padding: 10px;
	font-style:oblique;
	border: 2px dashed #ccc;
}
.emoticon {border:none;}

.serendipity_glossaryMarkup {
	color: #ffbf00;
}