/* andreas06 - an open source xhtml/css website layout by Andreas Viklund - http://andreasviklund.com . Free to use for any purpose as long as the proper credits are given for the original design work. Ported to Serendipity by Carl Galloway - http://www.carlgalloway.com

Version: 1.1, November 28, 2005 */

body{
background:#e0e0e0 url({TEMPLATE_PATH}img/bodybg.gif) repeat-x;
color:#505050;
font:76% Georgia,Verdana,Tahoma,Arial,sans-serif;
margin:0;
padding:0;
text-align:center;
}
.s9y_wrap {text-align:left; background:#fee0c8;}


.serendipity_entry_body, .serendipity_entry_extended, .serendipity_comments, .serendipityCommentForm{
line-height:1.5em;
margin:0 15px 0 10px;
}

a{
color:#fa9035;
font-weight:600;
text-decoration:none;
}

a:hover{
color:#d04a10;
}
.searchterm, .searchresults {color:#fa9035;}
hr{
height:1px;
margin:10px 0;
width:98%;
}

dt{
font-weight:700;
}

dd{
margin:1px 0 12px 15px;
}

#container{
background:#c0c0c0 url({TEMPLATE_PATH}img/bodybg.gif) repeat-x;
margin:0 auto;
text-align:left;
width:752px;
}

#serendipity_banner{
background:url({TEMPLATE_PATH}img/leaves.jpg) top center no-repeat;
color:#ffffff;
font-weight:400;
height:80px;
margin:0 20px 10px 0;
text-align:center;
}

#serendipity_banner h1{
font-size:2.2em;
margin:0;
padding-top:20px;
}

#serendipity_banner h1 a{
color:#ffffff;
}

#serendipity_banner h2{
font-size:1.6em;
letter-spacing:-1px;
margin:0;
font-weight:normal;
}

#nav{
background:url({TEMPLATE_PATH}img/greypx.gif) bottom left repeat-x;
float:left;
width:752px;
}

#nav ul{
list-style:none;
margin:0;
padding:0;
}

#nav li{
margin:0 4px 0 0;
padding:0;
}

#nav a{
float:left;
background:url({TEMPLATE_PATH}img/lefttabs.gif) no-repeat left top;
padding:0 0 0 10px;
margin:0;
text-decoration:none;
}

#nav a span {
float:left;
background:url({TEMPLATE_PATH}img/righttabs.gif) no-repeat right top;
display:block;
color:#808080;
font-size:1.2em;
margin:0 6px 0 0;
padding:7px 20px 3px 6px;
letter-spacing:-1px;}

#nav a:hover{
background:url({TEMPLATE_PATH}img/lefttabs.gif) no-repeat 0% -41px;
}
#nav a:hover span{
color:#505050;
background:url({TEMPLATE_PATH}img/righttabs.gif) no-repeat 100% -41px;
}

#nav .current a{
background:url({TEMPLATE_PATH}img/lefttabs.gif) no-repeat left -41px;
padding:0 0 0 10px;
margin:0 ;
text-decoration:none;
}
#nav .current a span {
background:url({TEMPLATE_PATH}img/righttabs.gif) no-repeat right -41px;
display:block;
color:#808080;
font-size:1.2em;
margin:0 6px 0 0;
padding:7px 20px 4px 6px;
letter-spacing:-1px;}

#nav .current a:hover span {color:#505050;}
#wrap1{
background:#ffffff url({TEMPLATE_PATH}img/innerbg.gif) repeat-y;
border-bottom:1px solid #808080;
border-left:1px solid #808080;
border-right:1px solid #808080;
clear:both;
padding:0;
width:750px;
}

#wrap2{
background:url({TEMPLATE_PATH}img/header.jpg) top left no-repeat;
margin-top: -10px!important;
margin-top:0;
padding:10px;
width:730px;
}

#header{
height:30px;
position:relative;
width:730px;
}

#header h1{
float:left;
font-size:1.4em;
margin:0;
width:180px;
}

#topbox{
color:#808080;
margin:0 0 4px;
text-align:right;
}

#topbox a{
color:#d04a10;
}

#topbox a:hover{
text-decoration:underline;
}

#leftside {
font:90% Georgia,Verdana,Tahoma,Arial,sans-serif;
float:left;
margin:-20px 0 0 0;
padding:0;
width:145px;
}

#leftside h4 {
font-size:1.3em;
font-weight:400;
line-height:1.2em;
margin:0 0 10px 0;
}

#leftside a:hover {
    text-decoration: underline;
    color: #505050;
}

#leftside a {
    color: #D04A10;
    line-height:1.3;
}
#leftside .serendipitySideBarItem {margin-bottom:20px; }
#leftside .serendipitySideBarContent {
margin-left:5px;}

#leftside input, #leftside select {width:95%;}

#rightside{
font:90% Georgia,Verdana,Tahoma,Arial,sans-serif;
float:right;
margin:30px 5px 20px 0;
width:155px;
}

#rightside .serendipitySideBarTitle{
font-size:1.3em;
font-weight:400;
margin-bottom: 12px;
}
#rightside .serendipitySideBarItem {margin-bottom:15px; }

#rightside .serendipitySideBarContent {
margin:2px 0 6px 7px;
}


#rightside input, #rightside select {width:95%;}

#content{
margin:45px 160px 0 180px;
}

#contentalt{
margin:45px 15px 0 180px;
}

#content p,#contentalt p{
margin:8px 0 0 0;
}

#content h1,#contentalt h1{
color:#505050;
font-size:2em;
font-weight:400;
margin:15px 0 10px 0;
padding:0;
}

#content h2, #contentalt h2, #content h3, #contentalt h3, .serendipity_commentsTitle{
color:#505050;
font-size:1.5em;
font-weight:normal;
margin:20px 0 10px 0;
padding:0;
}


#content h3 a, #content h3 a:visited ,#contentalt h3 a, #contentalt h3 a:visited {
color:#505050;
font-weight:normal; }

#contentalt h3 a:hover, #content h3 a:hover {
color:#d04a10;}

#footer{
clear:both;
color:#a0a0a0;
font-size:0.9em;
height:26px;
margin-top:20px;
padding:1px;
text-align:right;
width:730px;
}

#footer a{
color:#a0a0a0;
font-weight:400;
}

#footer a:hover{
color:#a0a0a0;
text-decoration:underline;
}

.menublock{
margin-bottom:10px;
}

.nav {
border:1px solid transparent;
border:none;
display:block;
color:#d04a10;
font-size:1.1em;
line-height:1.1em;
font-weight:700;
margin-bottom:1px;
padding:2px 2px 2px 2px;
position:relative;
text-decoration:none;
width:125px;
}

.nav:hover {
border:1px solid #fa9035;
color:#505050;
}

.sub{
font-size:0.9em;
margin-left:20px;
padding:1px 1px 1px 6px;
width:105px;
}

.sub:hover{
border:1px solid #fa9035;
color:#505050;
padding:0 0 0 5px;
}

.intro{
font-weight:700;
}

.active{
border:1px solid #fa9035;
padding:1px 1px 1px 9px;
}

.box, blockquote {
background:#f8f8f8 url({TEMPLATE_PATH}img/boxbg.gif) top left repeat-y;
border:1px solid #d0d4d4;
color:#505050;
margin:15px auto;
padding:10px 10px 10px 20px;
width:75%;
}

.photo{
margin:5px auto 15px;
padding:5px;
}

.smallcaps{
font-variant:small-caps;
}

.mini{
color:#a0a0a0;
font-size:0.75em;
font-weight:400;
line-height:1.2em;
margin:20px 0 10px 8px;
}

.small{
font-size:0.85em;
}

.large{
font-size:1.4em;
}

.soft{
color:#808080;
}

.normal{
font-weight:400;
}

.sharp{
color:#101010;
}

.center{
text-align:center;
}

.hide{
display:none;
}

.serendipity_entryFooter {
    padding:3px 0;
    line-height:1.2em;
    font-size:0.85em;
    display:block;
    margin:15px 15px 0 10px;
    border-top:1px solid #e1e8ee;
    border-bottom:1px solid #e1e8ee;
    background:#fcfcfc;
    color:#505050; }

.comment_link {
    padding : 0 0 0 14px;
    background: url({TEMPLATE_PATH}img/comments.gif) no-repeat 0 50%;}
.trackback_link {
    padding : 0 0 0 14px;
    background: url({TEMPLATE_PATH}img/trackbacks.gif) no-repeat 0 50%;}

.serendipity_pageFooter {margin-top:20px;}

.serendipity_entryIcon {border:none;}

img.serendipity_freeTag_xmlButton {
    border:none;
    padding-left:2px;
    vertical-align:bottom; }

/* container for comments plugin within sidebar */
.container_serendipity_plugin_comments {
    color:#333; }

/* style for line break in comments plugin */
.container_serendipity_plugin_comments br {
    line-height:0.5em; }

.plugin_comment_wrap {
    display:block;
    margin:15px 0 0 0;
    color:#505050; }

/* style for comment body within sidebar */
.plugin_comment_body {
    font-style:oblique; }

.serendipity_comment {margin-bottom:20px;}
.serendipity_commentsTitle {font-size:1.4em; font-weight:bold;}
.commentauthor, .comment_source_author {
    margin: 0 0 0 0;
    border-bottom: 1px solid #888685;
    font-size: 1.1em;
}
.commentauthor a, .comment_source_author a {
    text-decoration: none;
}
.commentmeta {
    margin: 0 0 0.8em 0;
    padding: 0.2em 0 0 0;
    font-size: 0.92em;
}
#comment {
    width: 98%;
}
#commentlist {padding-left:3px;}

.serendipity_commentBody {}
.comment_threaded_child0 {padding-left:5px;padding-right:5px;background: #f8e8dc; border:1px solid #e1cfc6;}
.comment_threaded_child1 {margin-left:14px; padding-left:5px;padding-right:5px;background: #f9efe6;border:1px solid #e1cfc6;}
.comment_threaded_child2 {margin-left:30px; padding-left:5px;padding-right:5px;background: #fdf7f2;border:1px solid #e1cfc6;}

.serendipity_center {
    margin-left: auto;
    margin-right: auto;
    text-align: center; }

.serendipity_msg_important {
    color: red; }

.serendipity_msg_notice {
    color: green; }

/********* Embedded images with the s9y image manager *********/

/* container for images and text */
.serendipity_imageComment_center, .serendipity_imageComment_left, .serendipity_imageComment_right {
    border:1px solid #fa9035;
     margin: 3px;
     padding: 3px;
     text-align: center; }

/* style to center image and text within entry */
.serendipity_imageComment_center {
     margin: 0px auto; }

/* style to left align image and text within entry */
.serendipity_imageComment_left {
     float: left; }

/* style to right align image and text within entry */
.serendipity_imageComment_right {
     float: right; }

/* styles for the images */
.serendipity_imageComment_img, .serendipity_imageComment_img img {
     margin: 0px;
     padding: 0px;
     text-align: center; }

/* styles for the text below the image if used */
.serendipity_imageComment_txt {
    margin: 0px auto;
    background: #FAFBFC;
    padding: 3px;
    clear: both;
    font-size: 0.9em;
    text-align: center;
    line-height:120%; }

/********* End of Media Manager Styles *********/
