a { color:#467634; font-weight:bold; text-decoration:none; background-color:inherit; }
a:hover{color:#68B14E; text-decoration:none; background-color:inherit;}

blockquote {border-left: 4px solid #467634; }

body {background: #345927 url(img/bg_body_green.gif) repeat-x left top; }

#pagetop {
	border-top:1px solid #233B1A;
	border-left:1px solid #233B1A;
	border-right:1px solid #233B1A;}

#mainpane {
	border-left:1px solid #233B1A;
	border-right:1px solid #233B1A;}

#header {background: #345927;}

#navigation {background:#579441;}

#navigation .selected, #navigation a:hover{
	background:#81BE6B;}

#footer {
	border-bottom:1px solid #233B1A;
	border-left:1px solid #233B1A;
	border-right:1px solid #233B1A; }

.footerbg {background:#345927;}

/* style for today's date in calendar */
td.Today {border: 1px solid #467634; }

.searchterm, .searchresults {color:#467634;}