a { color:#b0384d; font-weight:bold; text-decoration:none; background-color:inherit; }
a:hover{color:#d06c76; text-decoration:none; background-color:inherit;}

blockquote {border-left: 4px solid #d06c76; }

body {background: #8f2e3f url(img/bg_body_maroon.gif) repeat-x left top; }

#pagetop {
	border-top:1px solid #6F2331;
	border-left:1px solid #6F2331;
	border-right:1px solid #6F2331;}

#mainpane {
	border-left:1px solid #6F2331;
	border-right:1px solid #6F2331;}

#header {background: #8f2e3f;}

#navigation {background:#b0384d;}

#navigation .selected, #navigation a:hover{
	background:#db8d9a;}

#footer {
	border-bottom:1px solid #6F2331;
	border-left:1px solid #6F2331;
	border-right:1px solid #6F2331; }

.footerbg {background:#8f2e3f;}

/* style for today's date in calendar */
td.Today {border: 1px solid #ec9fb7; }

.searchterm, .searchresults {color:#b0384d;}