#info {
width:590px;
background:#fff;
float:left;
border:1px solid #ddd;
}

#info2 {
width:590px;
float:left;
}

#info2 h2 {
font-size:15px;
color:#151;
margin:0;
padding:5px 0 0 5px;
}

#info p {
line-height:1.5em;
}

#info p.info {
margin-left:5px;
}

#info h2 {
font-size:15px;
color:#151;
margin:0;
padding:5px 0 5px 5px;
}

#info h3 {
font-size:12px;
color:#048;
font-weight:400;
margin:0;
padding:5px 0 5px 5px;
}

#info_right {
width:150px;
float:right;
}

#info_right_home {
float:right;
}

#info_right_home a img {
border:0;
display:block;
}

#menu {
font-family:verdana, arial, sans-serif;
width:610px;
position:relative;
z-index:100;
height:220px;
margin:2px 0 1px;
}

#menu ul {
list-style:none;
border:0;
margin:0;
padding:0;
}

#menu ul li a,#menu ul li a:visited {
display:block;
text-align:center;
text-decoration:none;
width:135px;
height:20px;
color:#000;
border:1px solid #fff;
background:#E8E8E8;
line-height:20px;
border-width:1px 1px 0 0;
}

#menu ul ul {
position:absolute;
left:-9999px;
height:0;
z-index:10;
}

#menu ul li a:hover,#menu ul li:hover a {
color:#0063DC;
background:#CACACA;
}

#menu ul li#selected ul {
top:20px;
height:auto;
left:0;
text-align:left;
}

#menu ul :hover ul {
top:20px;
height:auto;
left:0;
text-align:left;
z-index:100;
}

#menu ul li#selected ul li,#menu ul :hover ul li {
background:#F4F4F4;
width:590px;
height:180px;
overflow:auto;
border:1px solid #cacaca;
border-top:3px solid #cacaca;
font-size:.9em!important;
color:#454545;
padding:0 5px 5px;
}

#menu ul li#selected ul li {
border:1px dotted #004FAE;
border-top:3px solid #004FAE;
}

#menu ul li#selected ul li a,#menu ul :hover ul li a {
display:inline;
background:#F4F4F4;
color:#0063dc;
text-decoration:none;
border:0;
line-height:1.1em;
font-weight:700;
font-size:1.2em;
font-family:Arial, Verdana, Sans-Serif;
padding-bottom:7px;
}

#menu ul li#selected ul li h3 a,#menu ul :hover ul li h3 a {
display:inline;
background:#F4F4F4;
color:#5f5f5f;
text-decoration:none;
font-size:1em;
font-weight:700;
font-family:Arial,Helvetica,sans-serif;
padding-bottom:7px;
padding-top:10px;
}

#menu2 {
font-family:verdana, arial, sans-serif;
width:750px;
height:55px;
position:relative;
z-index:90;
margin:0;
}

#menu2 ul {
list-style-type:none;
border:0;
margin:0;
padding:0;
}

#menu2 ul li a,.menu2 ul li a:visited {
display:block;
text-align:center;
text-decoration:none;
width:129px;
height:20px;
color:#000;
border:1px solid #fff;
background:#E8E8E8;
line-height:20px;
font-size:11px;
border-width:1px 1px 0 0;
}

#menu2 ul li ul {
position:absolute;
left:-9999px;
height:0;
}

#menu2 ul li a:hover,#menu2 ul li:hover a {
color:#fff;
background:#CACACA;
}

#menu2 ul li#current ul,#menu2 ul :hover ul {
top:20px;
left:0;
height:480px;
background:#fff;
text-align:left;
}

#menu2 ul li#current ul li,#menu2 ul :hover ul li {
background:#eee;
color:#000;
width:590px;
height:auto;
border:1px solid #CACACA;
padding:5px;
}

#menu2 ul li#current ul li {
border:1px solid #004FAE;
}

#menu2 ul li#current ul li a,#menu2 ul :hover ul li a {
display:inline;
background:#eee;
color:#c00;
text-decoration:underline;
border:0;
line-height:1.8em;
}

.arrowlistmenu {
width:100%;
}

.arrowlistmenu .headerbar {
font:bold 14px Arial;
color:#004FAE;
background:#FFF;
margin-bottom:10px;
text-transform:uppercase;
padding:4px 0 4px 10px;
}

.arrowlistmenu ul {
list-style-type:none;
margin:0 0 8px;
padding:0;
}

.arrowlistmenu ul li {
padding-bottom:2px;
}

.arrowlistmenu ul li a {
color:#004FAE;
background:url(img/arrowbullet.png) no-repeat center left;
display:block;
text-decoration:none;
font-weight:700;
border-bottom:1px solid #dadada;
font-size:90%;
padding:2px 0 2px 19px;
}

.arrowlistmenu ul li a:visited {
color:navy;
}

.arrowlistmenu ul li a:hover {
color:navy;
background-color:#F3F3F3;
}

div.tabcontainer {
width:100%;
background:#fff;
padding-top:20px;
}

ul.tabnav {
list-style-type:none;
width:100%;
overflow:hidden;
height:20px;
margin:0;
padding:3px 0 0;
}

ul.tabnav a {
display:block;
width:100%;
background:#E8E8E8;
border-left:1px solid #FFF;
border-top:1px solid #FFF;
border-right:1px solid #FFF;
height:20px;
}

ul.tabnav a:hover {
color:#fff;
background-color:#004FAE;
height:20px;
}

ul.tabnav li {
float:left;
width:70px;
text-align:center;
margin:0;
padding:0;
}

div.tabcontents {
 
background:#f4f4f4;
overflow:hidden;
border:1px dotted #004fae;
border-top:2px solid #004fae;
padding:3px;
}

div.tabcontents div.content {
float:left;
width:100%;
height:102%;
overflow-y:auto;
}

div.tabcontents div.content h2 {
 
border-bottom:1px solid #004fae;
padding-top:0;
margin-top:0;
font-size:2em;
}

.rolmenuegoto {
color:#004FAE;
background:url(img/arrowbullet.png) no-repeat center left;
display:block;
text-decoration:none;
font-weight:700;
border-bottom:1px solid #dadada;
float:right;
font-size:90%;
padding:2px 0 2px 19px;
}

#menu ul table,#menu2 ul table {
border-collapse:collapse;
font-size:1em;
margin:-1px -5px;
}

#menu ul li,#menu2 ul li {
float:left;
}

#menu ul li#selected a,#menu2 ul li#current a {
color:#fff;
background:#004FAE;
}

#menu ul li#selected ul li img,#menu ul :hover ul li img,#menu2 ul li#current ul li img,#menu2 ul :hover ul li img {
float:left;
border:0;
padding:5px 5px 5px 0;
}

#menu ul li#selected ul li p,#menu ul :hover ul li p,#menu2 ul li#current ul li p,#menu2 ul :hover ul li p {
font-size:.9em;
line-height:1.8em;
}

#menu ul li#selected ul li a:hover,#menu ul :hover ul li a:hover,#menu2 ul li#current ul li a:hover,#menu2 ul :hover ul li a:hover {
text-decoration:none;
color:#000;
}