nav a,.serendipity_sideNavigation,.serendipity_title{background:#91b7cc;}
.content a,#main article a,.serendipity_section_trackbacks,.serendipity_commentsTitle{color:#25253d;}
#header-container,aside{background:#25253d !important;}
#title,#main aside,#footer-container footer,header h2,header h2 a{color:white !important;}
header h1,header h1 a,header h1 a:hover,aside h3{color:#febf02;}
aside a,aside a:hover{color:#91b7cc;}
#header-container,#footer-container,#main aside,.serendipity_section_trackbacks,.serendipity_entryFooter{border-color:#91b7cc;}
.serendipity_comment_source{border-color:white;}
.serendipity_comment{background:#febf02;}
@media only screen and (min-width:768px){#header-container,#main aside{-webkit-box-shadow:0 5px 10px #91b7cc;-moz-box-shadow:0 5px 10px #91b7cc;box-shadow:0 5px 10px #91b7cc;}}
